/********************** Sidebar ***********************/
/**Mobil nav**/
.wy-nav-top {
    background-image: linear-gradient(35deg, rgb(57, 117, 124) 0%, rgb(57, 117, 124) 100%);
}
/** Logo **/
.wy-side-nav-search>a img.logo {
    width: 230px;
    height: 58px;
}

.fa-home:before, .icon-home:before {
    display: none !important; 
}

.icon-home {
    transition: .3s;
    font-size: 25px;
}

.icon-home:hover {
    background-color: transparent;
    color: rgba(234, 136, 91)
}

.wy-side-nav-search input[type=text] {
    background-color: rgba(255,255,255,0.3);
    box-shadow: none;
    border-radius: 100px;
    width: 100%;
    border: none;
    padding: 1em 2em;
    color: #eee !important;
    margin-bottom: 10px;
}

.wy-side-nav-search input[type=text]::placeholder {
    color: #ddd !important;
}
/** Sidebar -box**/
.wy-nav-side {
    background-color: rgba(247, 247, 242) !important;
}

/** top of sidebar **/
.wy-side-nav-search {
    background-image: linear-gradient(35deg, rgb(57, 117, 124) 0%, rgb(57, 117, 124) 100%);
}

/** Content in sidebar **/
.caption-text {
    color: rgba(234, 136, 91)
}

.toctree-expand {
    visibility: hidden;
}
.wy-menu-vertical li.toctree-l2 span.toctree-expand {
    margin-left: 10px;
}

.current, .internal, .wy-menu-vertical li.current {
    background-color: transparent !important;
}
.current .current a.reference {
    padding: .4045em 1.618em;
}
.internal li .internal {
    padding: .4045em 1.718em;
}
.wy-menu-vertical li.toctree-l1.current>a {
    border-bottom: none;
    border-top: none;
}

.wy-menu-vertical a {
    color: #999;
}
  
/********************** Global ***********************/
a {
    color: #404040; 
    transition: .3s;
}
a:hover {
    text-decoration: underline;
}

/********************** Arg tabel content ***********************/
.argtable td {
    background-color: #fcfcfc !important;
    border: none !important;
    max-width: 50%;
    clear:both;
}

.argdef {
    /*border-right: 1px solid #999;*/
    max-width: 325px !important;
    padding: 20px !important;
}

.argdef p:last-child {
    color: rgba(234, 136, 91) !important;
    font-weight: 600 !important;
    margin-bottom: 0px !important;
}

.argdef p:first-child {
    color: #444 !important;
}

.argdef p {
    font-size: 13px !important;
    margin-bottom: 10px !important;
}

.argdesc {
    padding: 20px !important;
}

.argdesc p {
    color: #777;
    font-size: 15px;
}

.argtable tr {
    border-bottom: solid 1px #bbb !important;
}

@media only screen and (max-width: 768px) {
    .wy-table-responsive {
        margin-bottom: 24px;
        max-width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        border: 1px solid #ccc !important;
    }
    .wy-table-responsive table {
        width: 100%
    }
    .wy-nav-top {
        position: fixed;
        width: 100%;
    }
    .wy-nav-content-wrap .wy-nav-content {
        padding-top: 90px;
    }    
}