#scenario_selector {
  background-color: white;
  width: 100%;
  min-width: 100%;
  padding: 4px;
  margin-bottom: 15px;
  border: 1px dashed #aaaaaa;

  text-align: right;
}

.irrelevant {
  color: #f3f3f3;
}

.hidden {
  display: none;
}
